<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tech Talks</title>
    <link href="./style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


</head>

<body>
    <nav class="navbar bg-body-tertiary brand-bg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="./techtalkslogo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                Tech Talks
            </a>
            {{!-- using conditional logic for modular js scripts in public js folder --}}
            {{#if logged_in}}
            <button type="button" class="btn btn-warning" id="logoutButton">Logout</button>
            <script src="/js/logout.js"></script>
            {{else}}
            <button type="button" class="btn btn-warning" id="loginButton">Login</button>
            <script src="/js/login.js"></script>
            {{/if}}
        </div>
    </nav>

    <div class="container-fluid">
        {{!-- handlebars to be injected here --}}
        {{{body}}}
        {{!-- using conditional logic for modular js scripts in public js folder --}}
        {{#if loginPage}}
        <script src="/js/login.js"></script>
        {{/if}}
        {{#if signupPage}}
        <script src="/js/signup.js"></script>
        {{/if}}

    </div>

    <footer class="mt-3">
        <div class="container-fluid fixed-bottom py-3 brand-bg">
            <div class="row align-items-center text-center">
                <div class="col-12"> <!-- Corrected class name from "col 12" to "col-12" -->
                    <img src="./techtalkslogo.png" alt="Logo" width="30" height="30"
                        class="d-inline-block align-middle">
                    <div> Alexandra Nel 2024</div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Scripts placed at the end of the body for improved loading times -->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>

</body>


</html>