<div class="container-fluid mb-8">

    <div class="container-fluid row align-items-center text-center py-2">
        <h1 class="py-3">LogIn!</h1>
    </div>

    <div>
        <form class="d-grid gap-3">

            <div>
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="userEmail" aria-describedby="email">
            </div>

            <div>
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="loginPassword">
            </div>

            <div>
                <button type="submit" class="btn btn-warning">Submit</button>
            </div>

            <div>
                <button onclick="window.location.href='/signup';" class="btn btn-outline-warning" type="button"
                     id="signUpPage">SignUp</button>

            </div>

        </form>
    </div>

</div>