<div class="blog-post">
  <div class="blog-post-header">
    {{blog_title}}
  </div>
  <div class="blog-body">
    <p>
     
      {{blog_body}}
    </p>
    <p>
      Author:
      {{blog_user_id}}
    </p>
    
  </div>
</div>