<div class="container-fluid mb-8">

    <div class="container-fluid row align-items-center text-center py-2">
        <h1 class="py-3">Sign Up!</h1>
    </div>

    <div>
{{!-- form method is post action directs the method to the correct area --}}
        <form class="d-grid gap-3" id="signupForm" method="post">

            <div>
                <label for="email-signup" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email-signup" aria-describedby="email">
            </div>

            <div>
                <label for="username-signup" class="form-label">User Name</label>
                <input type="text" class="form-control" id="username-signup" aria-describedby="name">
            </div>

            <div>
                <label for="password-signup" class="form-label">Password</label>
                <input type="password" class="form-control" id="password-signup">
            </div>

            <div>
                <button type="submit" class="btn btn-warning signup">Submit</button>
            </div>

        </form>
    </div>

</div>